{
  "parser": "babel-eslint",

  "rules": {
    "semi":   2,
    "quotes": [2, "single"],
    "key-spacing": [
      2, {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "eol-last": 0,
    "strict": [2, "never"],
    "camelcase": [2, {properties: "never"}],
    "no-shadow": 0,
    "indent": ["warn", 3, {VariableDeclarator: {"var": 3, "let": 3, "const": 3}}]
  },

  "globals": {}
}
