nav.nav.is-dark.has-shadow
	.nav-left
		a.nav-item
			img(src='https://www.atlassian.com/jira-epic-day-off/sectionWrap/04/column/0/imageBinary/atlassian_logo_topnav.svg')
	.nav-center
		a.nav-item
			span.icon
				i.fa.fa-github-alt
		a.nav-item
			span.icon
				i.fa.fa-linkedin
		a.nav-item
			span.icon
				i.fa.fa-google-plus
	span.nav-toggle
		span
		span
		span
	.nav-right.nav-menu
		a.nav-item About
		a.nav-item Projects
		a.nav-item Blog
		span.nav-item
			a.button.is-info
				span.icon
					i.fa.fa-share-alt
				span Contact
