.hobby-icon {
   height: 130px;
}

.image-floating {

  border-radius: 2px;
	transition: all .3s;

  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.avatar {
	width: 220px;
	margin: 0 20px;
}

// .my-growingup-section {
// 	background: url('./assets/about/hill.jpg');
// }


p.lh-about {
	line-height: 1.7;
}
