.brand-logo {
   font-weight: bold;
   letter-spacing: -1px;
}
//
// .nav > .container {
//    padding: 0 10px;
// }

.nav>.container>.nav-left>.nav-item:first-child:not(.is-tab) {
    padding-left: 10px;
}

.nav>.container>.nav-right>.nav-item:last-child:not(.is-tab) {
   padding: 10px;
}
