extends ../layouts/index.pug

block variables
	- var body_class = 'i-am-sam'
	- var title = 'Guess who?'
	- var site = {title: 'This is my homepage', url: 'https://wemyss.github.io', image: '/images/thumbnail-site-square.jpg', favicon: '/favicon.ico', description: 'Some awesome site description'}

block content
	p.container I guess I better do something
