extends ../layouts/index.pug

block variables
	- var title = 'Home Page'
	- var site = {title: 'This is my homepage', url: 'https://wemyss.github.io', image: 'http://flowhow.biz/consultancy/inc/img/logo-atlassian.svg', favicon: '/favicon.ico', description: 'Some awesome site description'}

block content
	section.hero.is-info.is-fullheight
		.hero-body.has-text-centered
			.container
				h1.title.is-2 Sam Wemyss
				h2.subitle Software Engineer
	section.hero.is-success.is-fullheight
		.hero-body
			.container
				h1.title.is-2 Large title
				h2.subitle Large subtitle
