@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee+Shade');

* {
	font-family: 'Audiowide', cursive;
}

.homepage {
	background-image: url(./home.jpg);
	background-size: cover;
	background-position: center right;
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	// justify-content: ;

	padding: 16px 32px 8px;

	> nav {
		margin-top: 25vh;
		margin-bottom: auto;
		li {
			margin-top: 8px;
		}
	}
}

.header {
	.title {
		font-family: 'Bungee Shade', cursive;
	}
	.subtitle {
		letter-spacing: 2px;
		padding-top: 4px;
	}
}

.site-links {
	// padding-bottom: 5rem;
}
// Cuz fluid doesn't stay same size below 1024px...
// .container.is-fluid {
// 	margin-left: 32px;
// 	margin-right: 32px;
// 	max-width: none;
// 	width: auto;
// }

.icon.is-hoverable {
	opacity: .6;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}

.social span {
	margin: 0 8px;
}


// .seperator {
// 	width: 80px;
// 	background: white;
// 	height: 1px;
// }
