/**
 * http://chir.ag/projects/name-that-color
 */
// $blue: #5BC0EB;
// $yellow: #FDE74C;
// $green: #9BC53D;
// $red: #E55934;
// $orange: #FA7921;
$purple: #847bb9;

$primary: $purple;
$body-background: #fff;
// $background: #fff;
